<div class="container">
  <ul class="flex gap-5 px-6 py-5">
  <li><%= link_to "Eventual", root_path, class: "text-blue-500 font-bold bg-blue-100 rounded-full p-3 hover:text-white hover:bg-blue-800 transition inline-block w-40 text-center" %></li>
    <% if current_user %>
      <li><%= link_to "Edit Account", edit_user_registration_path, class: "btn-navbar" %></li>
      <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn-navbar" %></li>
      <li><%= link_to "Add Event", new_event_path, class: "btn-navbar"%></li>
    <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path, class: "btn-navbar"%></li>
      <li><%= link_to "Sign In", new_user_session_path, class: "btn-navbar"%></li>
    <% end %>
  </ul>
</div>
